.jumbotron {
    background-image: url("../../images/nasa.jpg");
    background-size: 100% 100%;
    text-align: center;
  }

body {
    color: #f7f7f7;
    background-color: #292b2c;

  }



.article-title,.article-p{

    padding:20px
}
  

.row {
    color: #f7f7f7;
    background-color: #292b2c;

}

.bg-dark {
    color: #f7f7f7;
    background-color: #292b2c;

}
  
form {
    color: #f7f7f7;
    background-color: #292b2c;
  }




  